---

solr_port: 8983

solr_zookeeper_hosts: zookeeper:2181
solr_host: "{{ hostvars[ansible_nodename]['ansible_' + ansible_default_ipv4.alias]['ipv4']['address'] }}"

solr_external_libraries:
  - artifact_id: jts-core
    group_id: org.locationtech.jts
    version: 1.16.0

solr_external_packages:
  - artifact_id: simpleclient
    group_id: io.prometheus
    version: 0.9.0

solr_collections:
  # Extracted from https://github.com/apache/lucene-solr/tree/master/solr/server/solr/configsets/sample_techproducts_configs/conf
  # Should have configuration files under "templates/collections/[collection_name]" directory
  sample_techproducts_configs:
    shards: 2
    replicas: 1
    shards_per_node: 1
    auto_add_replicas: false
  sample_techproducts_configs_2:
    shards: 2
    replicas: 1
    shards_per_node: 1

solr_agents_required_libs:
  - unzip
  - apt-transport-https

solr_agents_config:
  - name: "newrelic"
    version: "7.11.0"
    download_url: "http://download.newrelic.com/newrelic/java-agent/newrelic-agent/current/newrelic-java.zip"
    vm_opts:
      - '-javaagent:{{ solr_installation_dir }}/newrelic/newrelic.jar'
    configuration_files:
      - "newrelic.yml"
    params: {
      application_name: "application_sample_name",
      license_key: "sddsasd"
    }

solr_environment_ui: "test,label=Molecule+test,color=green"
solr_mode: cloud
solr_collections_clean_house: false
solr_os_tunning: false

solr_backup_repository:
  - name: local
    class: org.apache.solr.core.backup.repository.LocalFileSystemRepository
    default: "false"
    config:
      - name: "location"
        value: "${solr.default.backup.path:}"
        type: str
  - name: s3
    class: org.apache.solr.s3.S3BackupRepository
    default: "false"
    config:
      - name: "s3.bucket.name"
        value: "solr-backup"
        type: str
      - name: "s3.region"
        value: "eu-west-1"
        type: str
      - name: "s3.endpoint"
        value: "http://solr-minio1:9000"
        type: str

aws_access_key_id: "admin"
aws_secret_access_key: "adminpass"
